.logo_container{
  display: flex;
  align-items: center;
  gap: .5rem;
}

p {
  color: #FFF;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 100% */
}

img {
  height: 2rem;
}