.search_container {
  /* background-color: red; */
  border: 1px solid white;
  border-radius: .25rem;
  padding: .3rem .2rem;
  width: 25rem;
}

.search_container input {
  background-color: transparent;
  border: none ;
  width: 95%;
}
.search_container input::placeholder{
  color: #fff;
  font-size: 1rem;
  border: none;
}

.search_container input:focus, 
.search_container input:active{
  border: none;
  color: white;
}