.suggested {
  display: grid;
  gap: 1rem;
  margin-block: 8rem;
  margin-left: 5rem;
}

.suggested_title{
  color: #FFF;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem; /* 116.667% */
  width: 25.25rem;
}

.suggested_rating {
  display: flex;
  gap: 1rem;
}

.suggested_imdb_rating,
.suggested_rotten_tomatoes{
  display: flex;
  align-items: center;
  gap: .25rem;
}

.suggested_imdb_rating span, 
.suggested_rotten_tomatoes span{
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
.suggested_imdb_rating img,
.suggested_rotten_tomatoes img{
  height: 1rem;
}

.suggested_overview {
  color: #FFF;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  width: 18.875rem;
}

.suggested_play_btn {
  background: var(--rose-700, #BE123C);
  border: none;
  border-radius: 0.375rem;
  display: flex;
  padding: 0.375rem 1rem;
  align-items: center;
  gap: 0.5rem;
  outline: none;
  width: 11.5625rem;
}