:root {
  --gray-300: hsla(216, 12%, 84%, 1);
  --gray-900: hsla(221, 39%, 11%, 1);
  --fade-50: hsla(220, 14%, 96%, 0.5);
}

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
}
#root{
  /* background-color: var(--gray-900); */
  min-height: 100vh;
}